- var jsFiles = [];
- jsFiles.push('lib/angular/angular')
- jsFiles.push('lib/angular-ui-router/release/angular-ui-router')
- jsFiles.push('app/app')
- jsFiles.push('app/components/auth/authInterceptor.service')
- jsFiles.push('app/components/auth/authToken.service')
- jsFiles.push('app/components/auth/auth.service')
- jsFiles.push('app/components/navbar/navbar.controller')
- jsFiles.push('app/components/home/home.controller')
- jsFiles.push('app/components/notes/notes.controller')
- jsFiles.push('app/components/login/signup.controller')
- jsFiles.push('app/components/login/login.controller')
- jsFiles.push('app/components/login/logout.controller')

doctype html

html(lang="en", ng-app="app")

head
  base(href="/")

  meta(charset="utf-8")

  meta(name="viewport", content="width=device-width, initial-scale=1")

  title Language Tracker

  link(rel="stylesheet", href="assets/styles/bootstrap.css")

  link(rel="stylesheet", href="assets/styles/styles.css")

body
  div(ng-include="'app/components/navbar/navbar.html'")

  div(ui-view, id="content")

  each jsFile in jsFiles
    script(src="#{jsFile}.js", type="text/javascript")




