body {
  background-color: #962F2B;
	/*background-color: skyblue;*/
  padding-top: 50px;
}

h1, h2, h3 {
  color: #5E72A3;
}

.main {
  margin-top: 50px;
}

.content {
  width: 800px;
  margin: auto;
}

textarea {
  resize: none;
}
