body {
  background-color: #962F2B;
  padding-top: 50px;
}

.main {
  margin-top: 50px;
}

.content {
  width: 700px;
  margin: auto;
}

textarea {
  resize: none;
}

li {
  font-size: 16px;
}

.well {
  border-radius: 8px;
}