body {
  background-color: #962F2B;
  padding-top: 50px;
}

#content {
  width: 700px;
  margin: auto;
  margin-top: 50px;
}

textarea {
  resize: none;
}

li {
  font-size: 16px;
}

.well {
  border-radius: 8px;
}

img {
  height: 40px;
  width: 40px;
  margin-top: 6px;
  margin-right: 5px;
  border-radius: 20px;
}

/* Signup form */
/*label {
  width: 80px;
}*/

