.well
  h1 Welcome, Language Enthusiast!
  br

  h4 Language Tracker allows you to #[em #[strong document your progress]] while learning a language and #[em #[strong keep you motivated]] along the way! This site is under construction, so stay tuned for additional features.
  br

  h2 Features to come:
  ul
    li View notes by day
    li Organize notes
    li Track studying by:

    ul
      li Reading
      li Writing
      li Listening
      li Speaking
